resources/mapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Sat Oct 07 2017 20:05:20 GMT+0500 (PKT) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="mapping">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="db">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="collection" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="attribute" maxOccurs="unbounded">
                                                                             <xs:complexType>
                                                                                    <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                                                    <xs:attribute name="key" type="xs:string"></xs:attribute>
                                                                                    <xs:attribute name="type" type="xs:string"></xs:attribute>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                               <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="class" type="xs:string"></xs:attribute>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                          <xs:attribute name="name" type="xs:string"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>

